html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #b1d4e0;
    background: #0c2d48;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #0c2d48;
    background: #b1d4e0;
  }
}


@media screen and (max-width: 798px) {
  .slugcontent {
    width: 100%;
    padding: 0 2rem 0 0;
  }
  .slugcontent img {
    width: 100%;
    height: auto;
  }
  .slugcontent pre {
    width: 100%;
    overflow: scroll;
    border: 1px solid grey;
    padding: 0.5rem 0.6rem;
  }
}

.slugcontent h1, h2, h3, h4, h5, h6 {
  cursor: default;
}
