html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #b1d4e0;
    background: #0c2d48;
  }
}

.swiper {
  width: 11rem;
  height: 16rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  color: #b1d4e0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.swiper-slide:nth-child(1n) {
  background-color: #2e8bc0;
}

.swiper-slide:nth-child(2n) {
  background-color: #145da0;
}

.swiper-slide:nth-child(3n) {
  background-color: #b1d4e0;
}
